* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html,
body {
  width: 100%;
}
body {
  background: url(images/vaporwave-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.flex-container-one {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
  font-family: "Bungee Hairline", cursive;
  background-color: rgb(0, 0, 0, 0.5);
  color: white;
  margin: 0, 0, 20px, 0;
  border: solid 2px white;
}

#header-logo {
  margin: 0, 0, 0, -10px;
}
.header-link {
  font-size: 18px;
  margin: 5px;
}
a {
  color: white;
}
a:hover {
  color: #eac050;
}
.navbar {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
ul {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.navbar-left,
.navbar-right {
  display: flex;
  width: 50%;
  align-items: center;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 50px;
}

.content-right {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 50%;
}
.content-left {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 0, 0, 0, 30px;
  justify-content: center;
  align-items: center;
}

#main-image {
  height: 300px;
  width: 300px;
  margin-top: -70px;
  flex-wrap: wrap;
  flex-shrink: 1;
}
.p1 {
  font-size: 18px;
  margin: -20px, auto, 10px, auto;
}
.sign-up-first-section,
#button {
  font-size: larger;
  font-weight: bolder;
  font-family: "Bungee Hairline", cursive;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 50%;
  background: linear-gradient(#b3dcfc, #eff8fa, #966b02, #eac050, #faf2db);
  margin-bottom: 5px;
}
.sign-up-first-section {
  flex: auto;
  margin-top: 20px;
  margin-left: -50px;
}
#hero-main-text {
  font-size: 48px;
  font-weight: bolder;
}

#flex-container-two,
#flex-container-three,
#flex-container-four {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
#flex-container-two {
  height: 200px;
  background-color: rgb(0, 0, 0, 0.8);
  align-content: space-between;
}
.products {
  flex-wrap: wrap;
  flex: 1 1 0;
  width: 100%;
  text-align: center;
  font-family: "Bungee Hairline", cursive;
  color: white;
  margin: 10px, auto, 20px, auto;
}

#heading {
  text-align: center;
  font-family: "Bungee Hairline", cursive;
  color: white;
  margin-top: 20px;
  width: auto;
  
  
  background-color: black;
}

#flex-container-three,
#flex-container-four {
  display: flex;
  justify-content: center;
  align-items: center;
  color: azure;
}

.quote {
  display: flex;
  font-family: "Bungee", cursive;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100px;
  border: solid 2px white;
  background-color: rgb(0, 0, 0, 0.7);
}
#quote-text {
  flex-shrink: 1;
  text-shadow: 2px 2px black;
  font-size: 18px;
}
#call,
#button {
  font-size: larger;
  font-family: "Bungee Hairline", cursive;
}
#button {
  flex: auto;
  width: 100px;
  height: 20;
}
#call {
  display: flex;
  flex-wrap: wrap;
  font-size: 18px;
  width: 75%;
}
.signup {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: solid 2px white;
  height: 75%;
  width: 50%;
  background-color: black;
  margin: auto, 0, 10px, 0;
}

.footer {
  display: flex;
  justify-content: center;
  font-family: "Bungee Hairline", cursive;
  color: white;
  margin: 10px, 0, 10px, 0;
}
