* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.flex-container-one {
  font-family: "Bungee Hairline", cursive;
  background-color: black;
  color: white;
}
#header-logo {
  font-size: 24px;
}
.header-link {
  font-size: 18px;
  margin: 10px;
}
.navbar {
  display: flex;
  flex-direction: row;
}
ul {
  display: flex;
  flex-direction: row;
}
.navbar-left,
.navbar-right {
  display: flex;
  flex-basis: 50%;
  justify-content: center;
  align-items: center;
}
.content {
  display: flex;
  flex-direction: row;
  margin: 50px;
}

.content-right {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 50%;
}
.content-left {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-left: 30px;
  justify-content: center;
  align-items: center;
}
img {
  margin: 50px;
}
.p1 {
  font-size: 18px;
  margin-top: -20px;
  margin-bottom: 10px;
}
.sign-up-first-section {
  font-size: larger;
  font-family: "Bungee Hairline", cursive;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 50%;
}
#hero-main-text {
  font-size: 48px;
  font-weight: bolder;
}

#flex-container-two,
#flex-container-three,
#flex-container-four {
  display: flex;
}
.products {
  flex: 1 1 0;
  align-content: space-between;
}

#flex-container-three,
#flex-container-four {
  align-items: center;
  background-color: black;
  color: azure;
}

.quote {
  font-family: "Share Tech Mono", monospace;
  flex: 1 1 0;
  height: 100px;
  font-size: large;
}
#call,
#button {
  font-family: "Share Tech Mono", monospace;
  font-size: larger;
}
#button {
  width: 100px;
  height: 20;
}
