* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
#main-image,
#header-logo {
  flex: 0 1 auto;
  width: 100%;
  height: auto;
}
body {
  margin: 0;
  padding: 0;
  background: url(images/vaporwave-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.flex-container-one {
  min-width: 100%;
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-family: "Bungee Hairline", cursive;
  background-color: rgb(0, 0, 0, 0.5);
  color: white;
  margin: 0;
  padding: 0;
  border: solid 2px white;
}

#header-logo {
  flex: 0 1 auto;
  margin: -20px -20px -20px -20px;
}
.header-link {
  flex: 0 1 auto;
  font-size: 18px;
  margin: 5px;
}
a {
  color: white;
}
a:hover {
  color: #eac050;
}
.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  padding: 0;
  margin: 0;
}
ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}
.navbar-left {
  flex: 0 1 auto;
  margin: 0;
  width: 30%;
}
.navbar-right {
  flex: 0 1 auto;
  width: auto;
  margin: 0;
}
.content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.content-right {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 0 0 20px;
  padding: 10px;
  width: 100%;
}
.content-left {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0, 0, 0, 30px;
  justify-content: center;
  align-items: center;
}

.p1 {
  flex: 0 1 auto;
  font-size: 18px;
  margin: -20px, auto, 10px, auto;
}
.sign-up-first-section,
#button {
  flex: 0 1 auto;
  font-size: larger;
  font-weight: bolder;
  font-family: "Bungee Hairline", cursive;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 50%;
  background: linear-gradient(#b3dcfc, #eff8fa, #966b02, #eac050, #faf2db);
  margin: 0;
}
.sign-up-first-section {
  flex: 0 1 auto;
  margin-top: 20px;
  margin-left: -50px;
}
#hero-main-text {
  flex: 0 1 auto;
  font-size: 48px;
  font-weight: bolder;
}

#flex-container-two {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: rgb(0, 0, 0, 0.8);
  align-content: space-between;
  margin: 20px 10px 20px 10px;
  border: solid 1px white;
}
.products {
  flex: 1 1 auto;
  text-align: center;
  font-family: "Bungee Hairline", cursive;
  color: white;
  margin: 10px, auto, 20px, auto;
}

#heading {
  text-align: center;
  font-family: "Bungee Hairline", cursive;
  color: white;
  margin: 20px 10px 20px 10px;
  background-color: rgb(0, 0, 0, 0.8);
  border: solid 1px white;
}

#flex-container-three {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px 10px 0 10px;
  border: solid 1px white;
  color: azure;
  text-align: center;
  background-color: rgb(0, 0, 0, 0.8);
}
#flex-container-four {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  border: solid 1px white;
  background-color: rgb(0, 0, 0, 0.8);
  color: azure;
  margin: 20px 10px 0 10px;
}
.quote {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-family: "Bungee", cursive;
}
#quote-text,
.call {
  flex: 0 1 auto;
  font-size: 18px;
  margin: 20px;
}
#call,
#button {
  flex: 0 1 auto;
  font-size: 18px;
  font-family: "Bungee Hairline", cursive;
}
#button {
  flex: 0 1 auto;
  width: 100px;
  height: 20;
  margin: 10px 0 0 0;
}

.signup {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  margin: 10px 0 10px 0;
}

.footer {
  display: flex;
  justify-content: center;
  font-family: "Bungee Hairline", cursive;
  color: white;
  margin: 10px;
}
